@import url(http://fonts.googleapis.com/css?family=Ubuntu);

* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	height: 100%;
}

p, h1, h2, h3, h4, h5, h5, input {
	color: white;
	font-family: "Ubuntu";
}


/* login_infoSide */
#login_infoSide {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #006699;
}

#login_infoHolder {
	position: relative;
	top: 50%;
	width: 300px;
	transform: translateY(-50%);
	margin-left: 50%;
}

#login_infoHolder h1 {
	font-size: 46pt;
}

#login_infoFooter {
	position: absolute;
	width: 300px;
	bottom: 0;
	margin-left: 25%;
	margin-bottom: 60px;
}

#login_infoFooter p, h5{
	text-align: right;
}

#login_infoFooter h5{
	font-size: 15pt;
}

/* END OF login_infoSide*/



/* login_userInfoSide */

#login_userInfoSide {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #FF5640;
}

#login_userInfoSideForm {
	position: relative;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}

#login_userInfoSideForm h1 {
	margin-left: 100px;
}

#login_userInfoSideForm .lInput {
	width: 100%;
	height: 80px;
	background-color: #CC4533;
	border: 0;
	border-top: 1px solid #FF9A8C;
	border-bottom: 1px solid #FF9A8C;
	font-size: 18pt;
	padding-left: 60px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
   	box-sizing: border-box;
}

#lUsername {
   	background: url(../images/blue-user-icon32.png) no-repeat scroll 10px 20px;
}

#lPassword {
	background: url(../images/blue-lock-icon32.png) no-repeat scroll 10px 20px;
}



#login_userInfoSideForm form {
	margin-top: 25px;
}

#login_userInfoSideForm .lLoginButton {
	color: #006699;
	margin-top: 50px;
	width: 300px;
	height: 60px;
	background-color: #FF5640;
	border: 0;
	border-top: 3px solid #006699;
	border-bottom: 3px solid #006699;
	border-right: 3px solid #006699;
	border-top-right-radius: 20px; 
	border-bottom-right-radius: 20px;
	font-size: 24pt
}