* {
	margin: 0;
	padding: 0;
}

.wrapper {
	background-color: #f2f2f2;
	margin: 0 auto;
	width: 80%;
	height: 500px;
	text-align: center;
}

#drag {
	width: 200px;
	height: 200px;
	border: 1px solid red;
	display: inline-block;
}

.drop {
	width: 200px;
	height: 200px;
	border: 1px solid seagreen;
	display: inline-block;
}

.lolz {
	color: red;
}