* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#wrapper {
	border: 1px solid red;
	max-width: 960px;
	height: 2700px;
	margin: 0 auto;
}

#lolz {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	border: 1px solid blue;
}

#maBox {
	width: 250px;
	height: 250px;
	background-color: #333;
	position: fixed;
	top: 25%;
}