* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



#wrapper {
	border: 1px solid red;
	max-width: 960px;
	height: 700px;
	margin: 0 auto;
	color: seagreen;
}

ul {
	list-style: none;
	text-align: center;
}

ul li {
	display: inline-block;
	text-align: center;
	border: 1px solid green;
	font-size: 12pt;
}

ul li:hover {
	background-color: #006699;
}

.space {
	padding: 10px;
}

ul li a {
	text-decoration: none;
	color: inherit;	
	padding: 10px;
}