* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



#wrapper {
	border: 1px solid red;
	max-width: 960px;
	height: 700px;
	margin: 0 auto;
}

 ul {
	list-style: none;
	text-align: center;
	margin-top: 20px;
}
        /*This is probably what was causing your miss-alignment*/
ul li {
    display: inline-block;
    border: 1px solid #808080;
    border-radius:5px;
}

ul li a {
	padding: 10px 50px;
	display: inline-block;
	text-decoration: none;
	color: black;
}

