@import url(http://fonts.googleapis.com/css?family=Varela+Round);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Varela Round';
}

html, body {
	height: 100%;
}

.clear-float {
	content: "";
	display: table;
	clear: both;
}

.left-panel {
	position: fixed;
	width: 20%;
	height: 100%;
	background-color: #01B3E3;
	top: 0;
	left: 0;
	overflow-y: scroll;
}

.content {
	height: 100%;
	width: 60%;
	margin-left: 20%;
	overflow: scroll;
	background: #f2f2f2;
}

.right-panel {
	position: fixed;
	height: 100%;
	width: 20%;
	background-color: #806F9B;
	top: 0;
	right: 0;
}




/* LEFT PANEL */

.you-know {
	width: 100%;
	background-color: #01C8FF;
	color: white;
	padding: 0;
	margin: 0;	
	position: relative;
	height: 195px;
}

.lighter-color {
	color: #e2e2e2;
}

#you-know-text {
	padding: 30px;
	font-size: 2.5em;
}

#you-know-text .fa-comments-o {
	margin-left: 65px;

}

#you-know-text .fa-comments-o .notifaction-text {
	background-color: #006699;
	font-size: 1rem;
	border-radius: 50%;
	position: relative;
	padding: 3px;
	top: -20px;
	left: -10px;
}

.search-topic {
	background-color: rgba(0, 0, 0, .2);
	width: 100%;
	padding: 10px;
	position: absolute;
	bottom: 0;
}

.search-topic input {
	border: 0;
	padding: 15px;
	width: 100%;
	font-size: 2em;
	background: rgba(0, 0, 0, 0);
	color: white;
	opacity: .9;
	font-family: 'Varela Round', FontAwesome;
	outline: 0;
}

::-webkit-input-placeholder {

	 color: #d0cdfa;
	 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/

	 color: #d0cdfa;
	 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 

	 color: #d0cdfa; 
	 font-weight: bold;
} 
:-ms-input-placeholder { 

	 color: #d0cdfa;
	 font-weight: bold;
}

.topics {
	overflow-y: scroll;
}

::-webkit-scrollbar { 
	display: none; 
}


.topics .topic {
	display: block;
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	cursor: pointer;
}

.topics .topic .topic-icon {
	background-color: rgba(0, 0, 0, .2);
	display: inline-block;
	padding: 40px;
	width: 30%;
	font-size: 1.8em;
	float: left;
	color: white;
	border-right: 1px solid rgba(0, 0, 0, .5);
}

.topics .topic .topic-text {
	padding-top: 20px;
	padding-left: 20px;
	line-height: 1.8;
	float: left;
	color: white;
}

.topics .topic:hover .topic-icon,
.topics .topic:hover 
{
	background-color: #006699;
	color: #f2f2f2;
}




/* CONTENT  */

.content-header {
	height: 195px;
	position: relative;
	width: 100%;
}

#content-menu {
	text-align: center;
	padding: 2px;
}

#content-menu li {
	display: inline-block;
}

#content-menu li a {
	display: block;
	text-decoration: none;
	color: #CDCDCD;
	padding: 35px;
	font-size: 1.8em;
}

#content-menu li a.cm-active {
	color: #86C8C7;
}

#content-menu li a:hover {
	color: #86C8C7;
}

.share-a-knowledge {
	background-color: rgba(0, 0, 0, .2);
	padding: 25px;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: rgba(0, 0, 0, .3);
}

.wrapper-content {
	width: 100%;
	padding: 10px;
}

.post {
	width: 48%;
	margin: 1%;
	background: white;
	padding: 15px;
	float: left;
	border-radius: 10px;
	color: gray;
	-webkit-box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.75);
box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.75);
}

.post:nth-child(even) {
	float: right;
}

.post-like-and-comments .fa-heart {
	color: #d1404a;
}

.post .darker-gray {
	color: #323232
}

.post .post-title {
	color: #6D5C88;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.post .post-text {
	font-size: 1.5em;
	margin-bottom: 15px;
}

.post-author {

}

/* RIGHT PANEL */