@import url(http://fonts.googleapis.com/css?family=Varela+Round);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', FontAwesome;
}

html, body {
	height: 100%;
}

.clear-float {
	content: "";
	display: table;
	clear: both;
}

.left-panel {
	position: fixed;
	width: 20%;
	height: 100%;
	background-color: #01B3E3;
	top: 0;
	left: 0;
	overflow-y: scroll;
}

.content {
	height: 100%;
	width: 60%;
	margin-left: 20%;
	overflow: scroll;
	background: #f2f2f2;
}

.right-panel {
	position: fixed;
	height: 100%;
	width: 20%;
	background-color: #806F9B;
	top: 0;
	right: 0;
	overflow-y: scroll;
}



/* LEFT PANEL */

.you-know {
	background-color: #01C8FF;
	color: white;
	height: 195px;
	position: fixed;
	width: inherit;
	z-index: 10;
}

.lighter-color {
	color: #e2e2e2;
}

#you-know-text {
	padding: 30px;
	font-size: 2.5em;
}

#you-know-text .fa-comments-o {
	margin-left: 65px;

}

#you-know-text .fa-comments-o .notifaction-text {
	background-color: #006699;
	font-size: 1rem;
	border-radius: 50%;
	position: relative;
	padding: 3px;
	top: -20px;
	left: -10px;
}

.search-topic {
	background-color: rgba(0, 0, 0, .2);
	width: 100%;
	padding: 10px;
	position: absolute;
	bottom: 0;
}

.search-topic input {
	border: 0;
	padding: 15px;
	width: 100%;
	font-size: 2em;
	background: rgba(0, 0, 0, 0);
	color: white;
	opacity: .9;
	font-family: 'Varela Round', FontAwesome;
	outline: 0;
}

::-webkit-input-placeholder {

	 color: #d0cdfa;
	 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/

	 color: #d0cdfa;
	 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 

	 color: #d0cdfa; 
	 font-weight: bold;
} 

:-ms-input-placeholder {
	 color: #d0cdfa;
	 font-weight: bold;
}

.topics {
	overflow-y: scroll;
	margin-top: 195px;
	z-index: 5;
	-ms-overflow-style: none;
}

::-webkit-scrollbar { 
	display: none; 
}

.topics .topic {
	display: block;
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	cursor: pointer;
}

.topics .topic .topic-icon {
	background-color: rgba(0, 0, 0, .2);
	display: inline-block;
	padding: 40px;
	width: 30%;
	font-size: 1.8em;
	float: left;
	color: white;
	border-right: 1px solid rgba(0, 0, 0, .5);
}

.topics .topic .topic-text {
	padding-top: 20px;
	padding-left: 20px;
	line-height: 1.8;
	float: left;
	color: white;
}

.topics .topic:hover .topic-icon,
.topics .topic:hover 
{
	background-color: #006699;
	color: #f2f2f2;
}




/* CONTENT  */

.content-header {
	height: 195px;
	position: fixed;
	width: inherit;
	z-index: 10px;
	background-color: #f2f2f2;
}

#content-menu {
	text-align: center;
	padding: 2px;
}

#content-menu li {
	display: inline-block;
}

#content-menu li a {
	display: block;
	text-decoration: none;
	color: #CDCDCD;
	padding: 35px;
	font-size: 1.8em;
}

#content-menu li a.cm-active {
	color: #86C8C7;
}

#content-menu li a:hover {
	color: #86C8C7;
}

.share-a-knowledge {
	background-color: rgba(0, 0, 0, .2);
	padding: 25px;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: rgba(0, 0, 0, .3);
}

.wrapper-content {
	width: 100%;
	padding: 10px;
	margin-top: 195px;
	z-index: 5px;
}

.post {
	width: 48%;
	margin: 1%;
	background: white;
	padding: 15px;
	float: left;
	border-radius: 10px;
	color: gray;
	-webkit-box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.75);
}

.post:nth-child(even) {
	float: right;
}

.post-like-and-comments .fa-heart {
	color: #d1404a;
}

.post .darker-gray {
	color: #323232
}

.post .post-title {
	color: #6D5C88;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.post .post-text {
	font-size: 1.5em;
	margin-bottom: 15px;
}

.post-author {
	margin-top: 5px;
	margin-left: 5px;	
}

.post-author img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.post-author-info {
	display: inline-block;
	position: relative;
	top: -8px;
	left: 25px;
}

.post-author-border {
	background-color: gray;
	height: 2px;
	border-radius: 2px;
	width: 100%;
	margin-top: 10px;
}




/* RIGHT PANEL */

.right-panel-header {
	height: 195px;
	position: fixed;
	width: inherit;
	z-index: 10;
	background: #806F9B;
}

.right-panel-current-user {
	padding: 15px;
	margin-left: 40px;
}

.right-panel-current-user img {
	height: 70px;
	width: 70px;
	border: 2px solid #006699;
	border-radius: 50%;
}

.right-panel-about-current-user {
	display: inline-block;
	position: relative;
	top: -20px;
	left: 15px;
	color: white;
}

.user-status-online {
	color: #27ae60;
}

.user-status-offline {
	color: #e85b3a;
}

.right-panel-search-user {
	background-color: rgba(0, 0, 0, .2);
	width: 100%;
	padding: 10px;
	position: absolute;
	bottom: 0;
}

.right-panel-search-user input {
	border: 0;
	padding: 15px;
	width: 100%;
	font-size: 2em;
	background: rgba(0, 0, 0, 0);
	color: white;
	opacity: .9;
	font-family: 'Varela Round', FontAwesome;
	outline: 0;
}

.right-panel-users {
	padding: 40px;
	overflow: auto;
	margin-top: 195px;
	z-index: 5;
	margin-bottom: 15px;
}

.right-panel-user {
	margin-bottom: 20px;
	color: white;
	cursor: pointer;
}

.right-panel-user img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.right-panel-user p {
	display: inline-block;
	position: relative;
	top: -20px;
	left: 20px;
}

.right-panel-user p.online::after {
	content: "\f111";
	position: absolute;
	left: 175px;
	color: #27ae60;
}

.right-panel-user p.offline::after {
	content: "\f111";
	position: absolute;
	left: 175px;
	color: #c0392b;
}

.right-panel-add-user {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 20%;
	padding: 25px;
	margin: 0;
	margin-left: -40px;
	background-color: #393145;
	z-index: 10;
	font-size: 1.4em;
	cursor: pointer;
}

.right-panel-add-user:hover {
	color: white;
	background-color: #453145;
}