@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: white;
}


header {
	float: left;
	width: 100%;
}

#logo {
	width: 130px;
	height: 130px;
	margin: 50px auto 0;
}

nav {
	text-align: center;
	padding: 10px 0;
	width: 50%;
	margin: 50px auto 30px;
	border-bottom: 1px solid;
	border-top: 1px solid;
}

nav ul {
	list-style: none;
	padding: 0 10px;
}

nav ul li {
	display: inline-block;
}

nav a {
	padding: 15px 10px;
	text-decoration: none;
	font-size: 2.1em;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

nav a, nav a:visited {
	color: #bdc3c7;
}

nav a:hover {
	color: #404148;
}

h2 {
	font-size: 1.15em;
}

#page1 {
	height: 100%;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
}

#wrapper h2 {
	padding: 50px 20px;
	font-family: "Open Sans", sans-serif;
	color: #2c3e50;
}

img {
	max-width: 100%;
}

#images {
	height: 300px;
	padding: 20px 10px;
}

@media screen and (max-width: 1200px) {
	nav {
		border: 0;
	}
}