body {
	background-color: #000;
}

#buttonHolder {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
}

.button {
	cursor:pointer;
	font-size:14pt;
	text-align:center;
	color:black;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	float:left;
	margin-bottom:5px;
	margin-left:0px;
	background-color: #f2f2f2;
	border-radius: 4px;
}

#openMenuIcon{
	margin-left: 8px;
}

	/* background-color: #154c70; */
